html {
    height: calc(100% - 8em);
    width: 100%;
    margin: 0;
    min-width: 800px;
}

body {
    height: 100%;
    width: inherit;
    margin: inherit;
    padding-bottom: 4em;
    padding-top: 4em;
}

.content {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.content * {
    float: left;
}

.header, .footer {
    background: #1f1f1f;
    width: 100%;
    height: 4em;
    min-width: 800px;
}

.footer {
    bottom: 0;
    color: #ffffff;
    position: fixed;
}

.footer > span {
    float: right;
    margin-right: 3em;
    line-height: 4em;
}

#V {
    cursor: pointer;
}

.header {
    top: 0;
    position: fixed;
    color: #ffffff;
    z-index: 10;
}

.header .logo {
    background: url('../images/new_wave.png') #1f1f1f no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 6em;
}

.account_panel {
    float: right;
    height: 100%;
    width: 17em;
}

.account_panel .user_details {
    float: left;
    height: 100%;
    width: 70%;
}

.account_panel .log_out {
    float: right;
}

.auth_form, .sign_up_form {
    color: #ffffff;
    background: #1f1f1f;
    border: 1px solid #1f1f1f;
    position: relative;
    width: 15em;
    height: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
}

.sign_up_form {
    height: auto;
}

.auth_form form, .sign_up_form form {
    width: 100%;
}

.auth_form input, .sign_up_form input {
    width: 100%;
    padding: 0;
    margin: 0;
}

.auth_form input[type=text], .auth_form input[type=password], .sign_up_form input[type=text], .sign_up_form input[type=password] {
    margin: 1em 0;
}

.auth_form input[type=submit], .sign_up_form input[type=submit] {
    border: 1px solid #ffffff;
    margin: 2px 0;
}

.auth_form label, .sign_up_form label {
    text-align: center;
    width: 100%;
    height: 1em;
}

.contacts_list {
    height: 100%;
    width: 30%;
    top: 50%;
    bottom: 50%;
}

.contacts_list .departments {
    height: inherit;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.contacts_list * {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    cursor: default;
}

.department_name {
    background: #5784c8;
    border-bottom: 1px solid #5784c8;
    height: 3em;
    line-height: 3em;
    margin: 0 auto;
}

.department_name span {
    margin: 0 2.5em 0 2em;
    font-size: 1.1em;
    font-weight: bold;
    width: auto;
    white-space: nowrap;
}

.contact {
    border-bottom: 1px solid #5784c8;
    min-height: 3em;
}

.contacts_list .contact, .contacts_list .contact * {
    cursor: pointer;
}

.contacts_list .contact:hover, .message_list .message:hover {
    background: #90c5ff;
}

.contact .contact_name {
    font-weight: bold;
    white-space: nowrap;
    width: auto;
    margin: 0 2.5em 0 1em;
}

.contact .contact_title {
    font-style: italic;
    width: auto;
    margin: 0 2.5em 0 1em;
}

.contacts_list button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 2.5em;
    margin: 0;
    border: none;
    border-left: 1px solid #1f1f1f;
    cursor: pointer;
}

button img {
    margin: auto;
    vertical-align: middle;
}

.main {
    width: 70%;
    height: 100%;
    margin: 0;
}

.welcome {
    height: 100%;
    width: 100%;
}

.welcome * {
    position: relative;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    margin: 0;
    transform: translate(-50%, -50%);
}

.error_message {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: #c82020;
}

.top_plank {
    width: 100%;
    display: inline-block;
    min-height: 3em;
    height: auto;
    border-bottom: 2px solid #1f1f1f;
}

.section_two {
    float: left;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.section_two .contact {
    border: none;
    line-height: 3em;
}

.section_two .contact .contact_title {
    white-space: nowrap;
}

.section_two .message_details {
    width: 100%;
    height: 100%;
}

.message_details .subject {
    margin: 5% 21% 5% 0;
    text-align: justify;
    display: block;
    width: 79%;
}

.to, .from {
    margin: 0 5% 5% 0;
    width: 95%;
}

.label {
    width: 30%;
    font-weight: bold;
    text-align: right;
}

.value {
    width: 65%;
    margin-left: 5%;
    text-align: left;
}

.message_details .timestamp {
    float: right;
    margin-right: 5%;
}

.main .body {
    text-align: justify;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 1em;
}

.section_one {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}

.section_one button {
    display: block;
    margin: 1em;
}

.message_list {
    width: 100%;
    height: calc(100% - 3em);
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0 2px 0 0;
}

.message_list .message {
    width: 100%;
    position: relative;
    height: 3em;
    border-bottom: 1px solid #1f1f1f;
    float: left;
    cursor: pointer;
}

.message .message_subject {
    margin: 0 0 0 2em;
    padding: 0 2em;
    line-height: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 17em);
}

.message .message_timestamp {
    width: 10em;
    height: 100%;
    float: right;
    line-height: 3em;
    text-align: right;
    margin: 0 3px 0 0;
}

.message .message_unread {
    width: 3em;
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff7369;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    color: #ffffff;
}

.inbox, .outbox {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0;
    left: 0;
}

.inbox {
    background: no-repeat url('../images/inbox.png');
    background-size: contain;
}

.outbox {
    background: no-repeat url('../images/outbox.png');
    background-size: contain;
}

.departmental {
    background: #ffdd61;
}

.selected {
    background: #b9deff;
}
